*{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header{
    width: 100%;
    align-items: center;
}

header button{
    font-size: 1rem;
    color: white;
    width: 49%;
    margin: 0 auto;
    padding: 0.6rem;
    background-color: #041348;
    border: #041348;
    box-shadow: 10px 10px 10px #041348, -10px -10px 10px #041348;
    transition: 200ms;
}

header button:hover{
    color: #1afe49;
    cursor: pointer;
    transform: scale(1.05);
}

.ligado{
    font-size: 1rem;
    color: #1afe49;
    width: 49%;
    margin: 0 auto;
    padding: 0.6rem;
    background-color: #041348;
    border: #041348;
    box-shadow: 10px 10px 10px #041348, -10px -10px 10px #041348;
}

body{
    background-color: #3d43b4;
    height: 100%;
}

main{
    display:flex;
    flex-direction: column;
    width: 78%;
    margin: 100px auto auto auto;
    background-color: #041348;
    padding: 2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: #041348;
    box-shadow: 10px 10px 70px #041348, -10px -10px 70px #041348;
    transition: 400ms;
}

.cabeçalho{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabeçalho .box-information h2{
    font-size: 25px;
    color: #1afe49;
}

.dados-pessoais{
    width: 100%;
}

.box{
    margin: 1rem 0;
    color: white;
}

.box h3{
    font-size: 1rem;
    color: #1afe49;
    margin-bottom: 0.5rem;
}

.box h4{
    margin-bottom: 1.5rem ;
    color: #8386f5;
}

.box p{
    line-height: 1.2rem;
}

.cabeçalho{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dados-pessoais a{
    color: #8386f5;
}

.redes{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.dados-pessoais button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-radius: 0.5rem;
    color: white;
}

.dados-pessoais .linkedin{
    background-color: #0e76a8;
    border-color: #0e76a8;
    transition: 200ms;
}

.dados-pessoais .github{
    background-color: black;
    border-color: black;
    transition: 200ms;
}

.box-curso{
    margin: 1rem 0;
}

.grade{
    width: 50%;
    height: 40px;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #1afe49;
    background-color: #083e12;
    color: white;
    transition: 200ms;
}

.certificado{
    width: 40%;
    height: 40px;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    color: white;
    background-color: #860029;
    border-color: #860029;
    transition: 200ms;
}

.cursando{
    color: yellow;
}

.concluido{
    color: #1afe49;
}

.perfil{
    width: 110px;
    height: 120px;
    border-radius: 100%;
    border-style: solid;
    box-shadow: 2px 2px 10px #083e12, -2px -2px 10px #083e12; 
    transition: 600ms;
}

@media screen and (min-width: 1440px) {
    main{
        width: 50%;
    }

    .perfil:hover{
        transform: scale(1.2);
        box-shadow: 2px 2px 10px #1afe49, -2px -2px 10px #1afe49; 
    }

    .redes{
        width: 15%;
    }

    .grade{
        width: 20%;
    }

    .certificado{
        width: 12%;
    }

    .dados-pessoais a:hover{
        color: #1afe49;
    }

    .dados-pessoais .linkedin:hover{
        border-color: #0e76a8;
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 2px 2px 10px #0e76a8, -2px -2px 10px #0e76a8;
    }

    .dados-pessoais .github:hover{
        border-color: black;
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 2px 2px 10px black, -2px -2px 10px black;
    }

    .grade:hover{
        transform: scale(1.1);
        cursor: pointer;
        background-color: #29eb50f9;
        box-shadow: 2px 2px 10px #1afe49, -2px -2px 10px #1afe49;
    }

    .certificado:hover{
        transform: scale(1.1);
        cursor: pointer;
        background-color: #860029;
        box-shadow: 2px 2px 10px #860029, -2px -2px 10px #860029;
    }
    
}





