body{
    background-color: #3d43b4;
}

main{
    display:flex;
    flex-direction: column;
    width: 940px;
    margin: 100px auto;
    background-color: #041348;
    padding: 2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: #041348;
    box-shadow: 10px 10px 70px #041348, -10px -10px 70px #041348;
    transition: 400ms;
}

main:hover{
    transform: scale(1.02);
    box-shadow: 20px 20px 100px #041348, -20px -20px 100px #041348; 
}

@media screen and (min-width: 375px) {
    main{
        display:flex;
        flex-direction: column;
        width: 100%;
        background-color: #041348;
        padding: 2rem;
        border-radius: 1rem;
        border-style: solid;
        border-color: #041348;
        box-shadow: 10px 10px 70px #041348, -10px -10px 70px #041348;
        transition: 400ms;
    }
}

.perfil{
    width: 110px;
    height: 120px;
    border-radius: 100%;
    border-style: solid;
    box-shadow: 2px 2px 10px #083e12, -2px -2px 10px #083e12; 
    transition: 600ms;
}

.perfil:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 10px #1afe49, -2px -2px 10px #1afe49; 
}

.cabeçalho{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabeçalho h2{
    font-size: 40px;
    color: #1afe49;
}

.dados-pessoais{
    width: 100%;
}

.box{
    margin: 1rem 0;
    color: white;
}

.box h3{
    font-size: 1.5rem;
    color: #1afe49;
    margin-bottom: 0.5rem;
}

.box h4{
    margin-bottom: 1.5rem ;
    color: #8386f5;
}

.box p{
    line-height: 1.2rem;
}

.dados-pessoais a{
    color: #8386f5;
}

.dados-pessoais a:hover{
    color: #1afe49;
}

.redes{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.dados-pessoais button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-radius: 0.5rem;
    color: white;
}

.dados-pessoais .linkedin{
    background-color: #0e76a8;
    border-color: #0e76a8;
    transition: 200ms;
}

.dados-pessoais .linkedin:hover{
    border-color: #0e76a8;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 10px #0e76a8, -2px -2px 10px #0e76a8;
}

.dados-pessoais .github{
    background-color: black;
    border-color: black;
    transition: 200ms;
}

.dados-pessoais .github:hover{
    border-color: black;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 10px black, -2px -2px 10px black;
}

.box-curso{
    margin: 1rem 0;
}

.grade{
    width: 20%;
    height: 40px;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #1afe49;
    background-color: #083e12;
    color: white;
    transition: 200ms;
}

.grade:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #29eb50f9;
    box-shadow: 2px 2px 10px #1afe49, -2px -2px 10px #1afe49;
}

.certificado{
    width: 15%;
    height: 40px;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    color: white;
    background-color: #860029;
    border-color: #860029;
    transition: 200ms;
}

.certificado:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #860029;
    box-shadow: 2px 2px 10px #860029, -2px -2px 10px #860029;
}

.cursando{
    color: yellow;
}

.interrompido{
    color: #860029;
}

.concluido{
    color: #1afe49;
}